#albumImg {
	float:left;
	width: 100px;
	height: 100px;
	margin-right: 10px;
}

.albums {
	list-style: none;
	background: #eeeeee;
	padding-top: 4px;
	padding-left: 4px;
}

.album {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width:280px;
	height:320px;
	padding: 5px;
	overflow: none;
	background: white;
	margin-bottom: 5px;
	margin-right: 5px;
	box-sizing: border-box;
}

.album.hidden {
	display: none;
}

.album .buttons {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
}

.album a {
	text-decoration: none;
}

.album:hover {
	opacity: 0.8;
}

.album:hover .buttons {
	display: block;
}

.album img {
	width: 100%;
}

.album p {
	margin: 0;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.album p.title {
	color: black;
}

.album p.artist {
	color: gray;
}

.tags {
	position: absolute;
	top: 248px;
	width: 100%;
	padding: 0 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.tags a {
	/*display: inline-block;*/
	background: blue;
	color: white;
	border-radius: 3px;
	padding: 6px;
	opacity: 0.6;
}

.tags a:hover {
	opacity: 1.0;
}
